{erl_opts, [debug_info]}.
{deps, [
    {lager, ".*", {git, "https://github.com/erlang-lager/lager", {tag, "3.5.2"}}},
    {yaws,  ".*", {git, "https://github.com/klacke/yaws.git",    {tag, "yaws-2.0.4"}}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git",   {tag, "0.14.13"}}},
    {edown, ".*", {git, "https://github.com/uwiger/edown.git",   {tag, "0.8.1"}}}
]}.
{edoc_opts, [
    {application, ["yaws_cage"]},
    {doclet, edown_doclet},
    {subpackages, false},
    {top_level_readme, {"./README.md", "http://github.com/erisata/yaws_cage"}}
]}.

